<!-- TODO: Write me -->
<strong>Hello</strong>
<p>
  <%= link_to @sender.username, user_url(@sender) %> has crushed on you.
  Click <%= link_to "here", user_url(@sender) %> to see their profile.
</p>
