<h1 id="message">
  <span>New Conversation</span>
  <i class="small-word">with</i>
  <%= link_to image_tag(@message.recipient.avatar(:tiny), :class => "photo"),
              person_path(@message.recipient.username) %>

  <%= link_to_username(@message.recipient) %>
</h1>

<%= render 'form', :message => @message %>
