<h1 id="message">
  <span>New Conversation</span>
  <i class="small-word">with</i>
  <%= link_to_avatar(@message.recipient, :tiny) %>

  <%= link_to_username(@message.recipient) %>
</h1>

<%= render 'form', :message => @message %>
