<h1><%= @conversation.subject %></h1>
<ol>
  <% @conversation.messages.each do |message| %>
    <li><%= image_tag message.sender.avatar %> <%= simple_format message.body %></li>
  <% end %>  
</ol>

<%= link_to "Reply", new_message_path(:conversation_id => @conversation.id) %>