<div class='row'>
  <div class='col-lg-9'>
    <%= render @object %>
  </div>
  <div class='col-lg-3 well'>
    <legend><%= pluralize @red_flags.count, "Flag" %> Reported by</legend>
    <ul>
      <% @red_flags.map(&:reporter).each do |user| %>
        <li><%= link_to user.username, user %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-12" id="danger-zone">
  <h2>DANGER ZONE</h2>
  <div>
    <p>
      All of this resource will be immediately deleted. Gulp.
    </p>

    <p>
      <b>There is no undo. No regrets.</b>
    </p>

    <%= button_to "Delete #{@object.class}", [:admin, @object],
      method: :delete,
      class: "btn btn-danger btn-block" ,
      data:  { confirm: "Uhhhh&hellip; Are you sure you want to delete this #{@object.class.to_s.downcase}?".html_safe }
    %>
  </div>
</div>
