<div class="page-header">
  <h1>Straightedginess</h1>
</div>

<ul class="list-unstyled">
  <% @labels.each do |name, count| %>
    <li>
      <h1 class="h3">
        <%= link_to name.capitalize, search_path(search: [:straightedgeness, name]) %>
        <small>(<%= count %>)</small>
      </h1>
    </li>
  <% end %>
</ul>
