/* base... */
h1, h2, h3 {
  font-weight: normal;
}

b { font-weight: bold; }
i { font-style: italic; }

.error, .alert, .notice, .success, .info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.info a { color: #205791; }

.notice a { text-decoration: none; }
/* ...base */

/* buttons... */
.actions {
  overflow: hidden;
  margin: 1em 0;
  list-style-type: none;
}

.actions li:first-child { float: left;  width: 49%; }
.actions li:last-child  { float: right; width: 49%; }
/* ...buttons */


/* small words... */
.small-word {
  font-style: italic;
  font-family: baskerville, times, serif;
  color: #666;
}
/* ...small words */

/* site header... */
header[role=banner] {
  background: black;
  color: white;
  line-height: 150%;
  padding: .5em 10px;
  font-size: 100%;
  overflow: hidden;
}

header[role=banner] h1 {
  letter-spacing: -.06em;
  font-weight: bold;
  display: inline-block;
  float: left;
}

header[role=banner] a {
  text-decoration: none;
  color: white;
}

nav[role=navigation] {
  display: inline-block;
  float: right;
}


.twitter-sign-in-link,
.facebook-sign-in-link,
.settings-link,
.inbox-link {
  text-indent: -999em;
  width:  16pt;
  height: 16pt;
  display: inline-block;
  margin-left: .5em;
}

.settings-link         { background: url(/images/buttons/nav/settings.png) no-repeat center center; }
.inbox-link            { background: url(/images/buttons/nav/inbox.png)    no-repeat center center; }
.twitter-sign-in-link  { background: url(/images/buttons/nav/twitter.png)  no-repeat center center; }
.facebook-sign-in-link { background: url(/images/buttons/nav/facebook.png) no-repeat center center; }

#unread-count {
  background: white;
  color: black;
  padding: 0 2px;
  line-height: 1.33em;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  opacity: .75;
}
/* ...site header */

/* main... */
section[role=main] {
  padding: 10px;
}
/* ...main */

/* forms... */
label {
  display: block;
  font-weight: bold;
  margin: 0;
  margin-top: 1em;
}

label,
input[type=text],
input[type=password],
select {
  margin-bottom: .5em;
}

textarea,
input[type=text],
input[type=password] {
  background: #eee;
  color: #666;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
  background: white;
  color: black;
}

textarea,
input[type=text],
input[type=password] {
  padding: 5px;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}
/* ...forms */


/* DANGER ZONE... */
/* lovingly inspired by GitHub's Danger Zone™ */
#danger-zone {
  margin-top: 7em;
  outline: 1px solid #c00;
}

#danger-zone h2 {
  background: #c00;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
  padding: .5em;
  color: white;
  font-weight: bold;
}

#danger-zone > div {
  padding: 1em;
  overflow: hidden;
}

#danger-zone p {
  margin-bottom: 1em;
}

#danger-zone b {
  color: #c00;
}

#danger-zone input {
  float: right;
  display: inline-block;
}
/* ...DANGER ZONE */



/* site footer... */
footer[role=contentinfo] {
  padding: 0;
  margin: 3em 10px;
  clear: both;
  padding-top:    8em;
  padding-bottom: 4em;
}

.clicker {
  outline: 1px solid #ccc;
  background: #eee;
  display: block;
  padding: 1em 0;
  margin-top: .5em;
  text-align: center;
  text-decoration: none;
  color: #666;
}
/* ...site footer */



/* iphone... */
@media screen and (max-device-width: 480px) {
  input[type=submit] {
    width: 100%;
    display: block;
  }

  .person .photo {
    width: 50px;
    float: left;
    margin-right: 10px;
  }

  .person h1 {
    margin-top: .25em;
    text-transform: uppercase;
  }

  .person h1,
  .person h2 {
    font-size: 125%;
  }

  .sign-out {
    padding-left:  0;
    padding-right: 0;
  }

  footer[role=contentinfo] {
    margin: 0 10px;
  }
}
/* ...iphone */

/* iphone portrait... */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  section[role=main] {
    min-height: 215px;
  }

  footer[role=contentinfo] {
    width: 300px;
  }
}
/* ...iphone portrait */

/* iphone landscape... */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  footer[role=contentinfo] {
    width: 460px;
  }
}
/* ...iphone landscape */

/* retina display... */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .twitter-sign-in-link,
  .facebook-sign-in-link,
  .settings-link,
  .inbox-link {
    background-size: 16pt 16pt;
  }

  .settings-link         { background-image: url(/images/buttons/nav/settings@2x.png); }
  .inbox-link            { background-image: url(/images/buttons/nav/inbox@2x.png)   ; }
  .twitter-sign-in-link  { background-image: url(/images/buttons/nav/twitter@2x.png) ; }
  .facebook-sign-in-link { background-image: url(/images/buttons/nav/facebook@2x.png); }
}
/* ...retina display */


/* bigger screen... */
@media screen and (min-width: 1000px) {
}
/* ...bigger screen */
