/* base... */
h1, h2, h3 {
  font-weight: normal;
}

b { font-weight: bold; }
/* ...base */


/* site header... */
header[role=banner] h1 {
  padding: 0 5%;
  font-size: 400%;
  letter-spacing: -.06em;
  font-weight: bold;
  background: black;
  color: white;
  line-height: 150%;
}

header[role=banner] h1 a {
  text-decoration: none;
  color: white;
}

section[role=main] {
  padding: 10px;
}
/* ...site header */

/* site footer... */
footer[role=contentinfo] {
  padding: 0 5%;
  margin: 3em 0;
}

.sign-out {
  outline: 1px solid #ccc;
  background: #eee;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #666;
}

.sign-out:hover {
  background: #666;
  color: white;
}
/* ...site footer */
