.button {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/150% Helvetica, Arial, sans-serif;
  padding: .5em 1em .55em;
  text-decoration: none;
  border: none;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:active {
  cursor: default;
  position: relative;
  top: 0;
}

.button:active {
  position: relative;
  top: 1px;
}

.button.full {
  padding: .55em 0;
  display: block;
  width: 100%;
}


.black {
  color: white !important;
  background: #444;
}

.gray {
  color: white !important;
  background: #999;
}

.white:hover,
.white:active,
.white {
  color: #999 !important;
  outline: solid 1px #eee;
  background: #fff;
}

.orange {
  color: #fef4e9 !important;
  background: #f78d1d;
}

.red {
  font-weight: bold;
  color: white !important;
  background: #c00;
}

.blue {
  color: #d9eef7 !important;
  background: #0095cd;
}

.rosy {
  color: #fae7e9 !important;
  background: #da5867;
}

.green {
  color: white !important;
  background: #64991e;
}

.pink {
  color: #feeef5 !important;
  background: #f895c2;
}
