/* TEMP */
.conversation img {
  width:  40px;
  height: 40px;
}

#new_message textarea {
  height: 6em;
  margin-bottom: 1em;
}

.conversations {
  margin: 0;
  padding: 0;
}

.conversation {
  list-style-type: none;
  opacity: 0.5;
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.conversation a {
  color: black;
  text-decoration: none;
}

.message-counterpart {
  color: gray;
}

.message-subject {
  font-weight: bold;
  display: block;
}

.unread {
  background: #eee;
  opacity: 1;
}

/* new message... */
#message {
  font-size: 1.5em;
}

#message span {
  display: block;
  font-weight: bold;
}

#message img {
  width:  16px;
  height: 16px;
  display: inline-block;
  margin-bottom: -3px;
}
/* ...new message */

/* inbox... */
#conversation hgroup {
  margin-bottom: 1em;
}

#conversation .subject {
  font-weight: bold;
  font-size: 2em;
}

#conversation .message,
#conversation .messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#conversation .message .person {
  margin-bottom: 1em;
  overflow: hidden;
}

#conversation .message {
  margin-bottom:  2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #efefef;
}

#conversation .message-body p {
  margin-top: 1em;
}

#reply h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .5em;
}

#reply label {
  display: none;
}

#reply textarea {
  height: 6em;
  margin-bottom: 1em;
}
/* ...inbox */
