.note {
  color: #999;
  margin-top: 1em;
}

.note + .note {
  margin-bottom: 3em;
}

/* form... */
textarea {
  height: 8em;
}

/* my/desired labels... */
table {
  width: 100%;
}

th label,
td label {
  margin: 0;
  text-align: left;
}

td {
  width: 1.75em;
}

th, td {
  padding: 0 0 .5em 0;
}
/* ...my/desired labels */
/* ...form */

/* delete account... */
#danger-zone {
  margin-top: 5em;
  outline: 1px solid #c00;
}

#danger-zone h2 {
  background: #c00;
  padding: .5em;
  color: white;
  font-weight: bold;
}

#danger-zone > div {
  padding: 1em;
  overflow: hidden;
}

#danger-zone p {
  margin-bottom: 1em;
}

#danger-zone b {
  color: #c00;
}

#danger-zone input {
  float: right;
  display: inline-block;
}
/* ...delete account */


/* iphone portrait... */
@media screen and (max-device-width: 480px) {
  input[type=submit] {
    margin-top: 1em;
    width: 100%;
    display: block;
  }
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
  #settings textarea,
  #settings input[type=text],
  #settings input[type=password] {
    width: 288px;
  }

  #settings select {
    width: 300px;
  }
}
/* ...iphone portrait */

/* iphone landscape... */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  #settings textarea,
  #settings input[type=text],
  #settings input[type=password] {
    width: 448px;
  }

  #settings select {
    width: 460px;
  }
}
/* ...iphone landscape */
