/* welcome... */
header[role=banner] h2 {
  margin: .5em 5%;
  font-size: 200%;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: -.02em;
}

#sign_in {
  list-style-type: none;
  margin: 2em 0;
  padding: 0;
}

#sign_in li {
  text-indent: -999em;
}

#sign_in a {
  display: block;
  background: transparent no-repeat center center;
  -webkit-background-size:  300px auto;
  -moz-background-size:     300px auto;
  -o-background-size:       300px auto;
  height: 50px;
  margin-top: 1em;
}

#sign_in .twitter  { background-image: url(/images/buttons/twitter.png); }
#sign_in .facebook { background-image:url(/images/buttons/facebook.png); }

#people h2 {
  font-size: 150%;
  margin-left: 5px;
}

#people ul,
#people li {
  margin: 0;
  padding: 0;
}

#people ul {
  margin-left: 5px;
}

#people li {
  display: inline;
}

#about {
  margin: 2em 5px;
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
  #people img {
    width: 100px;
  }
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
  #people img {
    width: 115px;
  }
}
/* ...welcome */
