/* welcome... */
header[role=banner] {
  background: none;
  padding: 0;
}

header[role=banner] h1 {
  padding: 0 10px;
  font-size: 400%;
  letter-spacing: -.06em;
  font-weight: bold;
  background: black;
  color: white;
  line-height: 150%;
  display: block;
  float: none;
}

header[role=banner] h1 a {
  text-decoration: none;
  color: white;
  display: block;
}

header[role=banner] h2 {
  margin: .5em 10px 0 10px;
  font-size: 200%;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: -.02em;
  color: black;
}

#people h2 {
  font-size: 150%;
  margin-left: 5px;
  margin-bottom: .2em;
}

#people ul,
#people li {
  margin: 0;
  padding: 0;
}

#people ul,
#people ul + a {
  margin-left: 5px;
}

#people li {
  display: inline;
}

#about {
  border-top: 1px solid #ddd;
  padding-top: 2em;
  margin: 2em 5px;
}

#about p {
  margin-bottom: 1em;
}


@media screen and (max-device-width: 480px) {
  .buttons {
    height: 100px;
  }
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .facebook_button {
    font-size: 22px;
  }

  #people img {
    width: 95px;
  }
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
  header[role=banner] h2 {
    font-size: 160%;
    line-height: 125%;
  }
  
  #people img {
    width: 110px;
  }
}
/* ...welcome */
