<%# social sidebar %>
<aside class="col-md-4 col-md-offset-1 col-sm-12">

  <% if show_social_heading? %>
    <h1 class="h3">Social</h1>
  <% end %>

  <table class="table">
    <%# TODO pull this out into either the user model settings or a URL model %>
    <% social_sites.each do |site, url| %>
      <% unless @user.send("#{site.downcase.gsub(/ /, "")}_username").blank? %>
        <tr>
          <th><%= site.titleize %></th>
          <td>
            <% if url == "@@@" %>
              <%= @user.send("#{site.downcase}_username") %>
            <% else %>
              <%= link_to @user.send("#{site.downcase.gsub(/ /, "")}_username"),
                          url.gsub(/@@@/, @user.send("#{site.downcase.gsub(/ /, "")}_username")), rel: "me" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>


  <%#= render "/users/social/this_is_my_jam" %>


</aside>
