<% if @crushers && @crushers.any? %>
  <div id="crushers">
    <h1>Crushers</h1>
    <%= render @crushers %>
  </div>
<% end %>

<% if @crushes && @crushes.any? %>
  <div id="crushes">
    <h1>Crushes</h1>
    <%= render @crushes %>
  </div>
<% end %>

<div id="everyone">
  <h1>Everyone</h1>
  <%= render @users %>
</div>
