<h1>
  <%= current_user.name %>
  (<%= current_user.age %>)
</h1>

<section>
  <%= simple_format current_user.bio %>
</section>

name
username
email
birthday
city
state
zip
bio
me_gender
you_gender
country
diet
