<div class="sponsor">
  <p class="sponsor-label">Sponsor</p>

  <%= link_to image_tag("https://dxe.s3.amazonaws.com/sponsors/powered-by-the-vegan-straightedge.png",
                        alt: "Sponsor: Powered by The Vegan Straightedge tshirt"),
              "http://teespring.com/veganstraightedge" %>

  <p class="sponsor-name">&ldquo;Powered by The Vegan Straightedge&rdquo; tshirt</p>
  <p class="sponsor-description">
    Still vegan? Still straightedge? This is the shirt for you.
    <a href="http://teespring.com/veganstraightedge" title="Powered by The Vegan Straightedge | Teespring">Pre-order by 2014-11-08</a>.
  </p>
</div>
