<div class="sign-in buttons">
  <h3>Sign in to get started.</h3>
  <%= button_to_sign_in_with(:twitter) %>
  <%= button_to_sign_in_with(:facebook) %>

  <%= render :partial => "/shared/social_posting_info" %>
</div>
