<div class="page-header">
  <h1><%= params[:column].titleize %></h1>
</div>

<ul class="list-unstyled">
  <% @groups.each do |name, users| %>
    <li>
      <h1 class="h3">
        <%= link_to name.capitalize, search_path(search: [:diets, name]) %>
        <small>(<%= users.count %>)</small>
      </h1>
    </li>
  <% end %>
</ul>
