<div class="page-header">
  <h1>
    Date Edge Privacy Policy
  </h1>
</div>

<div class="col-12">
  <h2>Collecting Information</h2>
  <p>
    Date Edge collects your personal information from the 3rd party login providers (<%= link_to "Facebook", "http://facebook.com" %> and/or <%= link_to "Twitter", "http://twitter.com" %>) as well as any information that you provide within your profile.
  </p>
  
  <h2>Handling Information</h2>
  
  <p>Date Edge does not share or sell any of your personal data with anyone. Ever.</p> 
  
  <h2>Internal Uses</h2>
  <p>
    Date Edge may additionally use your information for:
    <ol>
      <li>A programmer may need to reference stored data to fix bugs or add website features</li>
      <li>Compiling and analyzing trends and statistics, which may be made publically available</li>
    </ol>
  </p>
</div>
