/*
.pagination {
  display: block !important;
  text-align: center;
  
  em {
    color: white;
    font-weight: bold;
    background: #666;
    border: 1px solid #666;
    padding: 3px;
  }
  
  a {
    padding: 3px;
    color: #666;
    background: white;
    border: 1px solid #666;

    &:hover {
      color: white;
      background: #666;
      border: 1px solid #666;
    }
  }
}
*/
