#people {
  #crushers {
    margin-top: .5em;
  }

  #crushers,
  #crushes {
    margin-bottom: 1em;
  }

  #crushers > h1,
  #crushes  > h1,
  #everyone > h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    background: #444;
    color: white;
    padding: 5px;
  }

  #crushers .person:last-child,
  #crushes  .person:last-child,
  #everyone .person:last-child {
    border-bottom: none;
  }

  .person {
    clear: both;
    padding: 1em 0;
    min-height: 4em;
  }

  #photos {
    margin-top: 1em;
  }

  #photos ul,
  #photos li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #photos .h-entry {
    margin-bottom: 2em;
  }

  #photos li img {
    max-width: 100%;
    margin-top: 1em;
  }
  
  /* Pro Tips... */
  table.table h3 {
    margin-top: 0;
  }

  #about-us img {
    width: 130px;
  }
  /* ...Pro Tips */

  .note {
    margin-top: 1em;
  }

  .note p {
    margin-bottom: .5em;
  }
}
/* #people */
