/* browse-happy... */
.browse-happy {
  font-size: 150%;
}
/* ...browse-happy */

/* media block from oocss... */
/* https://github.com/stubbornella/oocss/blob/master/core/media/media.css */
.conversation img,
.h-card img {
  width:  100px;
  height: 100px;
}

.media          { overflow: hidden; *overflow: visible; zoom: 1; }
.media .img     { float: left; margin: 0 10px 0 0; }
.media .img img { display: block; }
/* ...media block from oocss */


/* buttons... */
.actions {
  overflow: hidden;
  margin: 1em 0;
  list-style-type: none;
}

/* TODO HACK Button classes on <li> instead of <a> */
/* /photos/new?getting=started */
.actions li form,
.actions li {
  display: inline-block;
}
/* ...buttons */


/* small words... */
.small-word {
  font-style: italic;
  font-family: baskerville, times, serif;
  color: #666;
}
/* ...small words */

/* site header... */
header[role=banner] {
  background: black;
  color: white;
  line-height: 150%;
  padding: 10px 0;
  margin-bottom: 1em;
  font-size: 100%;
  overflow: hidden;
}

header[role=banner] h1 {
  letter-spacing: -.02em;
  font-weight: normal;
  line-height: 125%;
  display: inline-block;
  float: left;
  margin-top: 10px;
  font-size: 16px;
}

header[role=banner] a {
  text-decoration: none;
  color: white;
}

nav[role=navigation] {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.twitter-sign-in-link,
.facebook-sign-in-link,
.settings-link,
.inbox-link {
  text-indent: -999em;
  width:  16pt;
  height: 16pt;
  display: inline-block;
  margin-left: .5em;
}

.twitter-sign-in-link,
.facebook-sign-in-link {
  border: 1px solid white;
}


.settings-link         { background: image-url("settings.png") no-repeat center center; }
.inbox-link            { background: image-url("inbox.png")    no-repeat center center; }
.twitter-sign-in-link  { background: image-url("twitter.png")  no-repeat center center; }
.facebook-sign-in-link { background: image-url("facebook.png") no-repeat center center; }

#unread-count {
  background: white;
  color: black;
  padding: 0 2px;
  line-height: 1.33em;
  display: inline-block;
  border-radius:         3px;
  opacity: .75;
}
/* ...site header */

/* forms... */
/* TODO clone bootstrap error styles */
label .field_with_errors + span,
label .field_with_errors + span a,
.field_with_errors {
  color: #b94a48;
}

/* TODO clone bootstrap error styles */
.field_with_errors input,
.field_with_errors select {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  
}

/* TODO clone bootstrap error styles */
label .field_with_errors {
  display: inline-block;
}
/* ...forms */


/* DANGER ZONE... */
/* lovingly inspired by GitHub's Danger Zone™ */
#danger-zone {
  margin-top: 7em;
  outline: 1px solid #c00;
}

#danger-zone h2 {
  background: #c00;
  padding: .5em;
  color: white;
  font-weight: bold;
}

#danger-zone > div {
  padding: 1em;
  overflow: hidden;
}

#danger-zone p {
  margin-bottom: 1em;
}

#danger-zone b {
  color: #c00;
}
/* ...DANGER ZONE */



/* site footer... */
footer[role=contentinfo] {
  padding-top:    8em;
  padding-bottom: 4em;
}

.clicker {
  outline: 1px solid #ccc;
  background: #eee;
  display: block;
  padding: 1em 0;
  margin-top: .5em;
  text-align: center;
  text-decoration: none;
  color: #666;
}
/* ...site footer */

/* override native form styles... */
input[type=upload],
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=email] {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  width: 100%;
}

label.checkbox input[type=checkbox] {
  vertical-align: baseline;
}
/* ...override native rounded form elements */


/* iphone... */
@media screen and (max-device-width: 480px) {
  input[type=submit] {
    width: 100%;
    display: block;
  }

  .person .photo {
    width: 50px;
    float: left;
    margin-right: 10px;
  }

  .person h1 {
    margin-top: .25em;
    text-transform: uppercase;
  }

  .person h1,
  .person h2 {
    font-size: 125%;
  }

  .sign-out {
    padding-left:  0;
    padding-right: 0;
  }

  footer[role=contentinfo] {
    margin: 0 10px;
  }
}
/* ...iphone */

/* iphone portrait... */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  section[role=main] {
    min-height: 215px;
  }

  footer[role=contentinfo] {
    width: 300px;
  }
}
/* ...iphone portrait */

/* iphone landscape... */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  footer[role=contentinfo] {
    width: 460px;
  }
}
/* ...iphone landscape */

/* retina display... */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .twitter-sign-in-link,
  .facebook-sign-in-link,
  .settings-link,
  .inbox-link {
    background-size: 16pt 16pt;
  }

  .settings-link         { background-image: image-url("settings@2x.png"); }
  .inbox-link            { background-image: image-url("inbox@2x.png")   ; }
  .twitter-sign-in-link  { background-image: image-url("twitter@4x.png") ; }
  .facebook-sign-in-link { background-image: image-url("facebook@4x.png"); }

  .twitter-sign-in-link,
  .facebook-sign-in-link {
    border-right: none;
  }
}
/* ...retina display */


/* bigger screen... */
@media screen and (min-width: 1000px) {
}
/* ...bigger screen */
