/* welcome... */
#welcome {
  header[role=banner] h1 {
    font-size: 400%;
    letter-spacing: -.06em;
    font-weight: normal;
    font-weight: 100;
    background: black;
    color: white;
    line-height: 150%;
    display: block;
    float: none;
    margin: 0;
  }

  header[role=banner] h1 a {
    text-decoration: none;
    color: white;
    display: block;
  }

  header[role=banner] h2 {
    margin: 0;
  }

  /* twitter and facebook buttons container... */
  .social-posting-message {
    margin: 1em 0;
  }
  /* ...twitter and facebook buttons */

  .thumbnail {
    border: none;
    padding: none;
  }

  .thumbnail img {
    width: 100%;
  }

  .thumbnail .caption {
    padding: 0;
    overflow: hidden;
    clear:both
  }

  #about {
    border-top: 1px solid #ddd;
    padding-top: 2em;
    margin: 2em 0;
  }
}
/* ...#welcome */

/* ipad... */
@media screen and (min-width: 768px) {
  #welcome {
    #about {
      font-size: 200%;
    }
  }
}
/* ...welcome */
