/* welcome... */
#welcome {
  header[role=banner] h1 {
    font-size: 400%;
    letter-spacing: -.06em;
    font-weight: normal;
    font-weight: 100;
    background: black;
    color: white;
    line-height: 150%;
    display: block;
    float: none;
    margin: 0;
  }

  header[role=banner] h1 a {
    text-decoration: none;
    color: white;
    display: block;
  }

  header[role=banner] h2 {
    margin: 0;
  }

  /* twitter and facebook buttons container... */
  /* container... */
  .buttons {
    margin: 2em 0;
    padding: 0;
    width: 100%;
  }

  .sign-in.buttons h3 {
    font-size: 1.25em;
    margin-bottom: .5em;
    font-weight: bold;
  }

  .sign-in.buttons a {
    margin-bottom: .5em;
    display: block;
    text-align: left;
    background-repeat: no-repeat;
    background-position: left center;
  }
  /* ...container */

  .twitter-sign-in-button,
  .facebook-sign-in-button {
    padding-left: 42px;
    height: 32px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

  .twitter-sign-in-button  { background-image: image-url("twitter@2x.png");  }
  .facebook-sign-in-button { background-image: image-url("facebook@2x.png"); }
  /* ...twitter and facebook buttons */

  .thumbnail {
    border: none;
    padding: none;
  }

  .thumbnail img {
    width: 100%;
  }

  .thumbnail .caption {
    padding: 0;
    overflow: hidden;
  }

  #about {
    border-top: 1px solid #ddd;
    padding-top: 2em;
    margin: 2em 0;
  }
}
/* #welcome */

/* iphone landscape... */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  #welcome {
    header[role=banner] h2 {
      font-size: 160%;
      line-height: 125%;
    }
  }
  /* #welcome */
}
/* ...iphone landscape */

/* retina phone display... */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #welcome {
    .twitter-sign-in-button,
    .facebook-sign-in-button {
      background-size: 33px 32px;
    }

    .twitter-sign-in-button  { background-image: image-url("twitter@4x.png");  }
    .facebook-sign-in-button { background-image: image-url("facebook@4x.png"); }
  }
  /* #welcome */
}
/* ...retina phone display */

/* ipad... */
@media screen and (min-width: 768px) {
  #welcome {
    #about {
      font-size: 200%;
    }

    .sign-in.buttons a {
      margin-bottom: 1em;
      display: inline-block;
      font-size: 2em;
      height: 64px;
    }

    .twitter-sign-in-button,
    .facebook-sign-in-button {
      padding-left: 82px;
    }

    .twitter-sign-in-button  { background-image: image-url("twitter@4x.png");  }
    .facebook-sign-in-button { background-image: image-url("facebook@4x.png"); }
  }
  /* #welcome */
}

/* ipad retina display... */
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  #welcome {
    .twitter-sign-in-button,
    .facebook-sign-in-button {
      background-size: 66px 64px;
    }

    .twitter-sign-in-button  { background-image: image-url("twitter@8x.png");  }
    .facebook-sign-in-button { background-image: image-url("facebook@8x.png"); }
  }
  /* #welcome */
}
/* ...ipad retina display */

/* ipad landscape... */
@media screen and (min-width: 1024px) {
}
/* ...ipad landscape */
/* ...ipad */

/* ...welcome */
