<div data-lat-lngs="<%= LatLng.all.map { |l| [l.lat.to_f, l.lng.to_f, l.username || 'blah']} %>" id='map' style='width: 100%; height: 20px;'></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUsS11chK_veOLCCks6o2U2jp1XDD6wgU"></script>
<script type='text/javascript' src="https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer_compiled.js"></script>
