<div class="page-header">
  <h1>Genders</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <ul class="list-unstyled">
      <% @genders.each do |name, count| %>
        <% unless count == 1 %>
          <li>
            <h1 class="h3">
              <%= link_to name.capitalize, gender_path(name) %>
              <small>(<%= count %>)</small>
            </h1>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6">
    <ul class="list-unstyled">
      <% @genders.each do |name, count| %>
        <% if count == 1 %>
          <li>
            <%= link_to name.capitalize, gender_path(name) %>
            <small>(<%= count %>)</small>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
